<a href="https://colab.research.google.com/github/bilalrafael/preprocessing.py/blob/main/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pertama import library terlebih dulu

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

setelah selesai lakukan pembacaan file csv

In [3]:
# membaca Data
dataset = pd.read_csv('gunung.csv')
# Lokasi Data Set, x = attribute , y = label
x = dataset.iloc[: , :-1].values
y = dataset.iloc[: , -1].values

lalu print untuk membaca nilai y dan x

In [4]:
print(y)

['Ya' 'Ya' 'Ya' 'Tidak' 'Tidak' 'Tidak' 'Tidak' 'Ya' 'Ya' 'Ya' 'Ya' 'Ya'
 'Ya' 'Ya' 'Tidak' 'Tidak' 'Tidak' 'Ya' 'Tidak' 'Ya']

In [5]:
print(x[:5])

[['Gunung Kerinci' 'Jambi' 3805 'Stratovolcano']
 ['Gunung Semeru' 'Jawa Timur' 3676 'Stratovolcano']
 ['Gunung Rinjani' 'Nusa Tenggara Barat' 3726 'Stratovolcano']
 ['Gunung Bukit Raya' 'Kalimantan Barat' 2278 'Non-Vulkanik']
 ['Gunung Latimojong' 'Sulawesi Selatan' 3478 'Non-Vulkanik']]

Langkah ini menangani missing values dengan SimpleImputer menggunakan strategy yang keluar paling banyak dan rata rata

In [6]:
from sklearn.impute import SimpleImputer
imputer_num = SimpleImputer(missing_values=np.nan, strategy='mean')
x[:, 2:3] = imputer_num.fit_transform(x[:, 2:3])
imputer_cat = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
x[:, [0, 1, 3]] = imputer_cat.fit_transform(x[:, [0, 1, 3]])

lalu print

In [7]:
print (x[:3])

[['Gunung Kerinci' 'Jambi' 3805.0 'Stratovolcano']
 ['Gunung Semeru' 'Jawa Timur' 3676.0 'Stratovolcano']
 ['Gunung Rinjani' 'Nusa Tenggara Barat' 3726.0 'Stratovolcano']]

Langkah ini menerapkan One-Hot Encoding pada kolom indeks 0 untuk mengonversi data kategori menjadi bentuk biner (0 dan 1), sementara kolom lainnya tetap. ColumnTransformer digunakan agar hanya kolom tertentu yang diubah tanpa mempengaruhi data lainnya.

In [8]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
x = np.array(x)

ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(sparse_output=False), [0])], remainder='passthrough')

x = ct.fit_transform(x)

lalu print

In [9]:
print(x[:3])

[[0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
  0.0 'Jambi' 3805.0 'Stratovolcano']
 [0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0
  0.0 'Jawa Timur' 3676.0 'Stratovolcano']
 [0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0
  0.0 'Nusa Tenggara Barat' 3726.0 'Stratovolcano']]

Label Encoding untuk mengubah data kategori dalam y menjadi angka agar bisa digunakan dalam model machine learning.

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [11]:
print(y)

[1 1 1 0 0 0 0 1 1 1 1 1 1 1 0 0 0 1 0 1]

selanjutnya membagi data menjadi 80% latih dan 20% uji untuk melatih dan menguji model. random_state=1 memastikan hasil pembagian tetap konsisten.

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 1)

print(y_train) digunakan untuk menampilkan data label (target) yang digunakan untuk pelatihan setelah pembagian dataset.

In [13]:
print(y_train)

[1 0 0 1 1 1 1 1 1 0 1 0 1 1 1 0]

Langkah ini menstandarisasi kolom ketinggian (indeks 2) agar memiliki mean = 0 dan standar deviasi = 1, membantu model bekerja lebih stabil

In [14]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

# Scaling hanya pada kolom ketinggian (indeks 2)
x_train[:, 2] = sc.fit_transform(x_train[:, 2].astype(float).reshape(-1, 1)).flatten()
x_test[:, 2] = sc.transform(x_test[:, 2].astype(float).reshape(-1, 1)).flatten()

In [15]:
print(x_train)

[[0.0 0.0 -0.2581988897471611 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0
  0.0 0.0 0.0 0.0 0.0 'Nusa Tenggara Barat' 3726.0 'Stratovolcano']
 [0.0 0.0 -0.2581988897471611 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0
  0.0 0.0 0.0 0.0 0.0 'Jawa Barat' 3019.0 'Stratovolcano']
 [0.0 0.0 -0.2581988897471611 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0
  0.0 0.0 0.0 0.0 0.0 'Sulawesi Selatan' 3478.0 'Non-Vulkanik']
 [0.0 0.0 -0.2581988897471611 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
  0.0 0.0 0.0 1.0 0.0 'Jawa Timur' 3156.0 'Stratovolcano']
 [0.0 0.0 -0.2581988897471611 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0
  0.0 0.0 0.0 0.0 0.0 'Jawa Tengah' 2930.0 'Stratovolcano']
 [0.0 0.0 -0.2581988897471611 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
  1.0 0.0 0.0 0.0 0.0 'Jawa Timur' 3676.0 'Stratovolcano']
 [0.0 0.0 -0.2581988897471611 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
  0.0 0.0 0.0 0.0 0.0 'Jawa Barat' 3078.0 'Stratovolcano']
 [0.0 0.0 -0.2581988897471611 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
  0.0 0.0 0.0 0.0 0.0 'Jambi' 3805.0 'Stratovolcano']
 [1.0 0.0 -0.2581988897471611 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
  0.0 0.0 0.0 0.0 0.0 'Bali' 3031.0 'Stratovolcano']
 [0.0 0.0 -0.2581988897471611 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0
  0.0 0.0 0.0 0.0 0.0 'Jawa Tengah' 3145.0 'Stratovolcano']
 [0.0 0.0 -0.2581988897471611 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
  0.0 0.0 1.0 0.0 0.0 'Nusa Tenggara Barat' 2851.0 'Stratovolcano']
 [0.0 0.0 -0.2581988897471611 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0
  0.0 0.0 0.0 0.0 0.0 'Jawa Tengah' 3265.0 'Stratovolcano']
 [1.0 0.0 -0.2581988897471611 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
  0.0 0.0 0.0 0.0 0.0 'Bali' 3031.0 'Stratovolcano']
 [0.0 0.0 -0.2581988897471611 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
  0.0 0.0 0.0 0.0 0.0 'Jawa Tengah' 2958.0 'Stratovolcano']
 [0.0 0.0 -0.2581988897471611 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0
  0.0 0.0 0.0 0.0 0.0 'Jawa Timur' 3332.0 'Stratovolcano']
 [0.0 0.0 3.8729833462074166 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
  0.0 0.0 0.0 0.0 0.0 'Maluku' 3027.0 'Non-Vulkanik']]